/* App-specific styles can go here */
.heading-main {
  font-family: 'Archivo Black', sans-serif;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: -0.5px;
}

.heading-section {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
}