@import "tailwindcss";

@theme {
  --color-bg-primary: #F3F4F4;
  --color-box-primary: #1D546D;
  --color-btn-primary: #061E29;
  --font-archivo: "Archivo Black", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--color-bg-primary);
}

.heading-main {
    font-family: 'Archivo Black', sans-serif;
    font-size: 46px;
    font-weight: 900;
}

.heading-section {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.btn-text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
}